* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


//---------------section-feature------------------
.features-basic {
  padding-top: 120px;

  .container-features {
    max-width: 1320px;
    padding: 0 12px;
    text-align: center;
    margin: auto;

    //---------------title-feature------------------
    .container-title-features {
      .line-top {
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#fe8464),
          to(#fe6e9a)
        );
        background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
        max-width: 150px;
        min-height: 5px;
        margin: 0 auto 10px;
      }

      .title-features {
        font-size: 32px;
        padding: 10px 0 40px 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: #2e2e2e;
        max-width: 1076px;
        margin: auto;
        line-height: 1.2;
      }
    }

    //---------------cards-feature------------------
    .container-card-features {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .card-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 5px 30px 0px rgba(167, 167, 167, 0.16);
        transition: all 0.3s ease-out 0s;
        padding: 50px 30px;
        border: 2px solid transparent;
        border-radius: 8px;
        max-width: calc(100% / 3 - 16px);
        
        //---------------hover-card-feature------------------
        &:hover {
          border-color: #fe7a7b;

          .container-img-card {
            .bg-img-features {
              -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
            }
          }
        }

        .container-img-card {
          position: relative;
          margin-bottom: 30px;

          .bg-img-features {
            transition: all 0.4s ease-out 0s;
          }

          .img-features {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        //---------------title-card-feature------------------
        .title-card {
          font-size: 26px;
          font-weight: 700;
          color: #2e2e2e;
          -webkit-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          line-height:1.2;

          //---------------hover-title-card-feature------------------
          &:hover {
            color: #361CC1;
          }
        }

        .text-card {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          color: #6a6972;
          margin-top: 30px;
          font-family: "Lato", sans-serif;
          width: 105%;
        }

        //---------------buttom-card-feature------------------
        .buttom-card {
          display: flex;
          align-items: center;
          padding-top: 30px;
          margin: auto;
          text-decoration: none;

          //---------------hover-buttom-card-feature------------------
          &:hover {
            p {
                letter-spacing: 2px;
            }
          }

          p {
            font-size: 16px;
            font-weight: 400;
            color: #fe7a7b;
            transition: all 0.3s ease-out 0s;
            font-family: "Lato", sans-serif;
          }

          .arrow-buttom-card {
            display: flex;
            max-height: 14px;
            max-width: 14px;
            margin-top: 2px;
            margin-left: 10px;
            fill: #fe8464;
            stroke: #fe8464;
          }
        }
      }
    }
  }

  //---------------@media-querys------------------
  @media (max-width:1398px) {
    .container-features {
      max-width:1140px;

      .container-title-features {
        .title-features {
          max-width: 926px;
        }
      }
    }
  }

  @media (max-width:1199px) {
    .container-features {
      max-width: 960px;
      padding: 0 20px;

      .container-title-features {
        .title-features {
          max-width: 790px;
          font-size: 30px;
        }
      }
    }
  }

  @media (max-width:991px) {
    .container-features {
      max-width: 696px;
      .container-card-features {
        flex-direction: column;
        align-items: center;
        margin: 0;

        .card-features {
          max-width: 396px;
          margin-top: 30px;

          .text-card {
            width: 100%;
          }
        }
      }
      .container-title-features {
        .title-features {
          font-size: 32px;
        }
      }
    }
  }

  @media (max-width:767px) {
    .container-features {
      .container-card-features {
        .card-features {
          max-width: 325px;
          padding: 20px 20px 30px;

          .title-card {
            font-size: 20px;
          }

          .text-card {
            margin-top: 20px;
          }
        }
      }
      .container-title-features {
        .title-features {
          max-width: 500px;
          font-size: 24px;
        }
      }
    }
  }

  @media (max-width:575px) {
    .container-features {
      max-width: 100%;
      .container-card-features {
        .card-features {
          max-width: 100%;
        }
      }
    }
  }
}
