* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-quick {
  position: relative;
}
.section-quick .img-background-rigth {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
}
.section-quick .container-quick {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  margin: auto;
}
.section-quick .container-quick .container-text-quick {
  width: 50%;
  padding: 0 12px;
}
.section-quick .container-quick .container-text-quick .into-c-text-quick {
  margin-top: 50px;
  max-width: 480px;
}
.section-quick .container-quick .container-text-quick .into-c-text-quick .line-top {
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  max-width: 150px;
  min-height: 5px;
  margin: 0 auto 10px 0;
}
.section-quick .container-quick .container-text-quick .into-c-text-quick .title-quick {
  font-size: 32px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #2E2E2E;
  margin: 0px;
  line-height: 1.2;
}
.section-quick .container-quick .container-text-quick .into-c-text-quick .text-quick {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6A6972;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
}
.section-quick .container-quick .container-text-quick .into-c-text-quick .buttom-quick {
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background-size: 200%;
  min-height: 50px;
  padding: 0 35px;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-out 0s;
}
.section-quick .container-quick .container-text-quick .into-c-text-quick .buttom-quick:hover {
  background-position: right center;
}
.section-quick .container-quick .container-text-quick .into-c-text-quick .buttom-quick p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 50px;
}
.section-quick .container-quick .container-img-quick {
  max-width: 50%;
  padding: 0 12px;
  display: flex;
  justify-content: end;
  z-index: 1;
  margin-top: 50px;
}
.section-quick .container-quick .container-img-quick .img-quick {
  max-width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (max-width: 1399px) {
  .section-quick .container-quick {
    max-width: 1140px;
  }
  .section-quick .container-quick .container-img-quick .img-quick {
    max-height: 330px;
  }
}
@media (max-width: 1199px) {
  .section-quick .container-quick {
    max-width: 960px;
  }
  .section-quick .container-quick .container-text-quick .into-c-text-quick {
    max-width: 100%;
  }
  .section-quick .container-quick .container-text-quick .into-c-text-quick .title-quick {
    font-size: 30px;
  }
  .section-quick .container-quick .container-img-quick .img-quick {
    max-height: 280px;
  }
}
@media (max-width: 991px) {
  .section-quick .container-quick {
    max-width: 720px;
    flex-direction: column;
  }
  .section-quick .container-quick .container-text-quick {
    width: 100%;
  }
  .section-quick .container-quick .container-text-quick .into-c-text-quick {
    max-width: 480px;
  }
  .section-quick .container-quick .container-text-quick .into-c-text-quick .title-quick {
    font-size: 32px;
  }
  .section-quick .container-quick .container-img-quick {
    max-width: 100%;
  }
  .section-quick .container-quick .container-img-quick .img-quick {
    max-height: 100%;
  }
}
@media (max-width: 767px) {
  .section-quick .img-background-rigth {
    display: none;
  }
  .section-quick .container-quick {
    max-width: 540px;
    padding: 70px 20px 0;
  }
  .section-quick .container-quick .container-text-quick {
    padding: 0;
  }
  .section-quick .container-quick .container-text-quick .into-c-text-quick {
    margin-top: 50px;
  }
  .section-quick .container-quick .container-text-quick .into-c-text-quick .title-quick {
    font-size: 24px;
  }
  .section-quick .container-quick .container-img-quick {
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */