* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-subcribe .container-subcribe {
  max-width: 1320px;
  padding: 0 12px;
  margin: auto;
}
.section-subcribe .container-subcribe .into-container-sub {
  padding: 40px 50px 90px;
  box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  display: flex;
}
.section-subcribe .container-subcribe .into-container-sub .container-text-sub {
  max-width: 50%;
  width: 100%;
  padding: 0 12px;
  display: flex;
  align-items: flex-end;
  margin-top: 45px;
}
.section-subcribe .container-subcribe .into-container-sub .container-text-sub .title-subcribe {
  font-size: 35px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
  line-height: 1.2;
  max-width: 460px;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub {
  max-width: 50%;
  width: 100%;
  padding: 0 12px;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub {
  position: relative;
  margin-top: 50px;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub .input-sub {
  border: 2px solid #e1e1e1;
  min-height: 65px;
  padding: 0 30px;
  border-radius: 5px;
  width: 100%;
  color: #2e2e2e;
  font-family: "Lato", sans-serif;
  font-size: inherit;
  transition: all 0.3s ease-out 0s;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub .input-sub::-moz-placeholder {
  color: #e1e1e1;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub .input-sub::placeholder {
  color: #e1e1e1;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub .input-sub:focus {
  outline: 2px solid #6610f2;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub .buttom-sub {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 65px;
  line-height: 65px;
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background-size: 200%;
  cursor: pointer;
  padding: 0 25px;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  transition: all 0.4s ease-out 0s;
}
.section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub .buttom-sub:hover {
  color: #fff;
  background-position: right center;
}
@media (max-width: 1399px) {
  .section-subcribe .container-subcribe {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .section-subcribe .container-subcribe {
    max-width: 960px;
  }
  .section-subcribe .container-subcribe .into-container-sub .container-text-sub .title-subcribe {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .section-subcribe .container-subcribe {
    max-width: 720px;
  }
  .section-subcribe .container-subcribe .into-container-sub {
    flex-direction: column;
  }
  .section-subcribe .container-subcribe .into-container-sub .container-text-sub {
    max-width: 100%;
    padding: 0;
  }
  .section-subcribe .container-subcribe .into-container-sub .container-text-sub .title-subcribe {
    font-size: 35px;
  }
  .section-subcribe .container-subcribe .into-container-sub .container-input-sub {
    max-width: 100%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .section-subcribe .container-subcribe {
    max-width: 540px;
    padding: 0 20px;
  }
  .section-subcribe .container-subcribe .into-container-sub {
    padding: 10px 30px 60px;
  }
  .section-subcribe .container-subcribe .into-container-sub .container-text-sub .title-subcribe {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .section-subcribe .container-subcribe {
    max-width: 100%;
    padding: 0 20px;
  }
  .section-subcribe .container-subcribe .into-container-sub {
    padding: 10px 30px 60px;
  }
  .section-subcribe .container-subcribe .into-container-sub .container-text-sub .title-subcribe {
    font-size: 24px;
  }
  .section-subcribe .container-subcribe .into-container-sub .container-input-sub .formulario-sub .buttom-sub {
    position: relative;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }
}/*# sourceMappingURL=styles.css.map */